<%- include("../partials/header"); %>
  <%- include("../partials/navbar"); %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
              <div class="row mb-2">
                <div class="col-sm-12">
                  <h1 class="m-0">Pedidos</h1>
                </div><!-- /.col -->
              </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content" id="content">
        <div class="container-fluid">

          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Cliente <%= clientA.name%>.
                  <small class="float-right"><button onclick="window.print()" class="btn btn-primary"><span class="fas fa-print"></span></small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            
            <div class="col-12">
              Cliente
              <address>
                <strong><%= clientA.name %></strong><br>
                Email: <%= clientA.email %><br>
                Telefone: <%= clientA.phone %><br>
                Localidade: <%= clientA.cep %> | <%= clientA.city %> | <%= clientA.district %> <br>
                Endereço: <%= clientA.address %>, n° <%= clientA.number %> <br />
              </address>
            </div>

            <% orders.forEach((order) => { %> 
              <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <hr />
                  Pedido número: <%= order.id %> - Status <%= order.stage == 0 ? "Aguardando" 
                  : order.stage == 1 ? "Aceito" 
                  : order.stage == 2 ? "Em entrega" 
                  : order.stage == 3 ? "Finalizado" 
                  : "Confirmado" %>
                  <hr />
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade de produtos: </th>
                    <th>Unitário</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% JSON.parse(order.products).forEach(orderProduct => { %>
                    <tr>
                      <td><%= orderProduct.product.id %></td>
                      <td><%= orderProduct.product.name %></td>
                      <td><%= orderProduct.quantity %></td>
                      <td>R$ <%= parseFloat(orderProduct.product.price).toFixed(2).replace(".", ","); %></td>
                      <td>R$ <%= parseFloat(orderProduct.total).toFixed(2).replace(".", ","); %></td>
                    </tr>
                  <% }); %>
                  <tr>
                    <td colspan="5" style="text-align: right;">Total: R$ <%= parseFloat(order.value).toFixed(2).replace(".", ","); %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            <% }); %>
          </div>

        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->

<%- include("../partials/footer"); %>