<%- include("../partials/header"); %>
  <%- include("../partials/navbar"); %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <% if (msg !=undefined) { %>
            <div class="alert alert-info alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h5><i class="icon fas fa-info"></i> Alerta!</h5>
              <%= msg %>
            </div>
            <% } %>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <h1 class="m-0">Pedidos</h1>
                </div><!-- /.col -->
              </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content" id="content">
        <div class="container-fluid">

          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Pedido n° <%= order.id %>.
                  <small class="float-right"><button onclick="window.print()" class="btn btn-primary"><span class="fas fa-print"></span></small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-6 invoice-col">
                Franqueado
                <address>
                  <strong><%= order.partner.name %></strong><br>
                  Email: <%= order.partner.email %><br>
                  Telefone: <%= order.partner.phone %><br>
                  Localidade: <%= order.partner.cep %> | <%= order.partner.city %> | <%= order.partner.district %> <br>
                  Endereço: <%= order.partner.address %>, n° <%= order.partner.number %><br>
                  Documento: <%= order.partner.document %>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-6 invoice-col">
                Cliente
                <address>
                  <strong><%= order.client.name %></strong><br>
                  Email: <%= order.client.email %><br>
                  Telefone: <%= order.client.phone %><br>
                  Localidade: <%= order.client.cep %> | <%= order.partner.city %> | <%= order.partner.district %> <br>
                  Endereço: <%= order.client.address %>, n° <%= order.client.number %>
                </address>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
                <table class="table table-striped">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Quantidade de produtos: </th>
                    <th>Unitário</th>
                    <th>Total</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% orderProducts.forEach(orderProduct => { %>
                    <tr>
                      <td><%= orderProduct.product.id %></td>
                      <td><%= orderProduct.product.name %></td>
                      <td><%= orderProduct.quantity %></td>
                      <td>R$ <%= parseFloat(orderProduct.product.price).toFixed(2).replace(".", ","); %></td>
                      <td>R$ <%= parseFloat(orderProduct.total).toFixed(2).replace(".", ","); %></td>
                    </tr>
                  <% }); %>
                  <tr>
                    <td colspan="5" style="text-align: right;">Total: R$ <%= parseFloat(order.value).toFixed(2).replace(".", ","); %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>

        </div>
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->

<%- include("../partials/footer"); %>